<film-list>
  <template shadowrootmode="open">
    {{{shared-styles "./film-list.css"}}}

    <ul hx-boost="true" hx-target="global #film-detail">
      {{#each films}}
        <li>
          <a href="/films/{{id}}">
            {{>film-card film=.}}
          </a>
        </li>
      {{/each}}
    </ul>
  </template>
</film-list>