<film-list>
  <template shadowrootmode="open">
    <ul hx-target="global #film-detail" hx-swap="innerHTML">
      {{#each films}}
        <li>
          <a href="/films/{{id}}" hx-get="/films/{{id}}" hx-push-url="true">
            {{>film-card film=.}}
          </a>
        </li>
      {{/each}}
    </ul>
  </template>
</film-list>