:host {
  display: block;
  contain: content;
  box-sizing: border-box;
  min-width: 300px;
  padding: var(--gap);
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--color-onLayerBase);
  text-decoration: none;
}

a.active {
  --foreground: var(--color-onAccent);
  --background: var(--color-accent);
}