<structured-card>
  <template shadowrootmode="open">
    {{{shared-styles "./structured-card.css"}}}
    
    {{#>ui-card}}
      <div part="content">
        <slot name="header"></slot>
        <slot></slot>
        <slot name="footer"></slot>
      </div>
    {{/ui-card}}
  </template>

  {{>@partial-block}}
</structured-card>