:host {
  display: block;
  contain: layout style;
  box-sizing: border-box;
}

ui-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

slot[name=thumbnail] {
  display: block;
  flex: 0 0 30%;
}

::slotted(img[slot=thumbnail]) {
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  height: 100%
}

[part=content] {
  padding-block: var(--gap-small);
  padding-inline: var(--gap);
  display: flex;
  flex-direction: column;
}

::slotted([slot=header]) {
  font-size: var(--typography-sizePlus1);
  line-height: var(--typography-lineHeightPlus1);
  font-weight: var(--typography-weightPlus1);
  padding: 0;
  margin: 0;
}

::slotted(:not([slot])) {
  font-size: var(--typography-sizeBase);
  line-height: var(--typography-lineHeightBase);
  margin-block: var(--gap);
}

::slotted([slot=footer]) {
  margin: 0;
  font-style: italic;
  font-family: serif;
  font-size: var(--typography-sizeBase);
  line-height: var(--typography-lineHeightBase);
}