:host {
  display: block;
  contain: content;
  box-sizing: border-box;
  box-shadow: var(--shadow-raised);
  border: var(--stroke-thicknessMinus1) var(--stroke-style) var(--color-layerBorder);
  border-radius: var(--border-radius);
}