:not(:defined) > template[shadowrootmode] ~ *  {
  display: none;
}

:root {
  --spacing-base: .75rem;
  --spacing-baseMinus2: calc(.5 * var(--spacing-base));
  --gap: var(--spacing-base);
  --gap-small: var(--spacing-baseMinus2);

  --stroke-style: solid;
  --stroke-thicknessBase: .15rem;
  --stroke-thicknessMinus1: calc(.5 * var(--stroke-thicknessBase));
  
  --typography-sizeBase: 1rem;
  --typography-lineHeightBase: 1.3rem;
  --typography-sizePlus1: 1.2rem;
  --typography-lineHeightPlus1: 1.6rem;
  --typography-weightPlus1: 600;

  --border-radius: .375rem;

  --shadow-raised: 0 .25rem .5rem var(--color-shadow);

  --color-accent: #008ed8;
  --color-onAccent: #f4f4f4;
  --color-onLayerBase: #2c2c2c;
  --color-shadow: #00000033;
  --color-layerBorder: #d8d8d8;
}

body {
  color: var(--color-onLayerBase);
}

h1 {
  padding-inline-start: var(--gap);
}

.container {
  display: flex;
  gap: var(--gap);
}

@media (width <= 768px) {
  .container {
    flex-direction: column;
  }
}