<h1>Star Wars Movies</h1>

<section>
  <ul hx-target="#film-detail" hx-swap="innerHTML">
    {{#each films}}
      <li>
        <a href="/films/{{id}}" hx-get="/films/{{id}}" hx-push-url="true">
          {{>film-card film=.}}
        </a>
      </li>
    {{/each}}
  </ul>
</section>

<section id="film-detail">
  {{>film-detail film=selectedFilm}}
</section>