<h1>The Star Wars Saga</h1>

<div class="container">
  <section id="film-list">
    {{>film-list}}
  </section>

  <section id="film-detail">
    {{>film-detail film=selectedFilm}}
  </section>
</div>