<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A demo app showing server-first web components with HTMX.">
    <title>Server-First Web Components with DSD and HTMX</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/index.css">
    <script>
      const lookup = new Map();

      class SharedStyle extends HTMLElement {
        connectedCallback() {
          const id = this.getAttribute("style-id");
          const root = this.getRootNode();
          let styles = lookup.get(id);

          if (styles) {
            root.adoptedStyleSheets.push(styles);
          } else {
            styles = new CSSStyleSheet();
            const element = root.getElementById(id);
            styles.replaceSync(element.innerHTML);
            lookup.set(id, styles);
          }

          this.remove();
        }
      }

      customElements.define("shared-styles", SharedStyle);
    </script>
  </head>
  <body>
    {{{body}}}
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <script type="module" src="/script/index.js"></script>
  </body>
</html>